{% load static %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Make Market Stats</title>
    </head>
    <body>
    {% if success %}
        <p><font color="green">Success</font></p>
        {% if last_entry %}
        <p>Last entry: {{ last_entry }}</p>
        {% endif %}
    {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Submit" />
        </form>
    {% if stats%}
        <table border="1">
            <caption>
                <strong>Interval:</strong> {{ interval }}h. <strong>Percent:</strong> {{ percent }}%. <strong>Period:</strong> {{ period }}d.
            </caption>
            <thead>
                <tr>
                    <th>Market</th>
                    <th>Returned Trades</th>
                </tr>
            </thead>
            <tbody>
                {% for item in stats %}
                <tr>
                    <td>{{ item.0 }}</td>
                    <td>{{ item.1 }}</td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    {% endif %}
    </body>
</html>
