{% extends "base.html" %}
{% load static %}
{% block headtitle %}Make Market Stats{% endblock headtitle %}
{% block extra_head %}
  <script type="text/javascript" src="{% static 'js/plot_chart.js' %}"></script>   
{% endblock extra_head %}
{% block content %}
  <div class="row">
    <div class="one-third column">
      <form method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <input class="button-primary" value="Submit" type="submit" />
      </form>
      {% if success %}
      <h4><font color="green">Success</font></h4>
      {% endif %}
    </div>
    <div class="two-thirds column">
      {% if last_entry %}
      <!--      <p>Last entry: {{ last_entry }}</p> -->
      {% endif %}
      {% if stats%}
      <table class="u-full-width">
        <caption>
          <strong>Interval:</strong> {{ interval }}h. <strong>Percent:</strong> {{ percent }}%. <strong>Period:</strong> {{ period }}d.
        </caption>
        <thead>
          <tr>
            <th>Market</th>
            <th>Returned Trades</th>
          </tr>
        </thead>
        <tbody>
          {% for item in stats %}
          <tr>
            <td>{{ item.0 }}</td>
            <td>{{ item.1 }}</td>
          </tr>
          {% endfor%}
        </tbody>
      </table>
      {% endif %}
      {% if chart_data%}
        <canvas id="marketChart" ></canvas>
        <script type="text/javascript">
          window.mmslocal.chart_data = {{ chart_data|safe }};
        </script>   
      {% endif %}
    </div>
  </div>
{% endblock content%}
